/* -----------------------------------
            VARIABLES
------------------------------------*/
:root {
  /* couleur */
  --color-neutral: #f5f7fa;
  --color-white: white;
  --color-black: black;
  --color-principal: #4caf4f;
  --color-btn-header: #18191f;
  --color-fond-footer: #263238;
  --color-sous-titre: #4d4d4d;
  --color-text: #717171;

  /* nom typo */
  --font-family-principal: "inter", "sans-serif";

  /* taille typo */
  --font-size-text: 16px;
  --font-size-sous-titre: 36px;
  --font-size-sous-titre-mobile: 25px;
  --font-size-titre: 64px;
  --font-size-titre-mobile: 45px;
}

/* -----------------------------------
            RESET
------------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* -----------------------------------
            ELT BASES
------------------------------------*/
body {
  background-color: var(--color-white);
  font-family: var(--font-family-principal);
  font-size: var(--font-size-text);
  font-weight: 400;
  color: var(--color-text);
}

body.ClairSombre {
  background-color: black;
}

/* -----------------------------------
            ELT HEADER
------------------------------------*/

header {
  background-color: var(--color-neutral);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-top: 8px;
}

.menu {
  display: block;
  cursor: pointer;
}

body.ClairSombre header {
  background-color: var(--color-black);
}

nav {
  position: absolute;
  background: var(--color-neutral);
  display: flex;
  flex-direction: column;
  top: 70px;
  right: -100%;
}

nav.menu-open {
  display: flex;
  top: 80px;
  margin: auto;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 80%;
}

nav.menu-open a {
  border-top: black solid 1px;
  background-color: var(--color-white);
  padding-bottom: 8px;
}

nav a {
  color: var(--color-btn-header);
}

body.ClairSombre nav.menu-open a {
  border-top: white solid 1px;
  background-color: var(--color-black);
}

body.ClairSombre nav a {
  color: var(--color-white);
}

/* btn login / sign up */

.connexion {
  display: flex;
}

.login,
.sign-up {
  padding: 5px 10px;
  border-radius: 6px;
}

.login {
  color: var(--color-principal);
}

.sign-up {
  background-color: var(--color-principal);
  color: var(--color-white);
}

/* format pc  */

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  .login,
  .sign-up {
    padding: 10px 20px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.3rem 5rem;
    border-bottom: white solid 1px;
  }

  nav {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
  }
  body.ClairSombre nav {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

/* changement entre img soleil et lune pour mode clair / sombre */

.soleil,
.lune {
  cursor: pointer;
  margin-left: 20px;
  color: var(--color-black);
}

.soleil {
  display: block;
}

.lune {
  display: none;
}

body.ClairSombre .soleil {
  display: none;
}

body.ClairSombre .lune {
  display: block;
  color: var(--color-white);
}

/* -----------------------------------
            ELT MAIN
------------------------------------*/

body.ClairSombre .container {
  background-color: var(--color-black);
}

.carte-x3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.carte {
  padding: 24px 32px;
  border-radius: 8px;
  gap: 8px;
  max-width: 280px;
  background-color: var(--color-white);
  text-align: center;
  box-shadow: 0px 2px 4px 0px #abbed133;
  border: 1px solid white;
}

body.ClairSombre .carte {
  background-color: var(--color-black);
}

.carte-fin {
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 8px;
  text-align: center;
  height: 20%;
  width: 75%;
  margin: auto;
  margin-bottom: 42px;
}

body.ClairSombre .carte-fin {
  background-color: var(--color-black);
  border: 1px solid white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 60px;

  margin: auto;
}

.elt {
  min-width: 100px;
}

.inverser {
  flex-direction: row-reverse;
}

@media (min-width: 1024px) {
  .container {
    padding: 96px 144px;
    flex-wrap: nowrap;
    gap: 104px;
  }
  .elt {
    min-width: 200px;
  }
}

/* -----------------------------------
            ELT FOOTER
------------------------------------*/

footer {
  background-color: var(--color-fond-footer);
  padding: 64px 165px;
  color: var(--color-white);
  text-align: center;
}

/* -----------------------------------
                ELT
------------------------------------*/

h1 {
  font-size: var(--font-size-titre);
  font-weight: 600;
  color: var(--color-sous-titre);
}

body.ClairSombre h1 {
  color: var(--color-white);
}

h2 {
  font-size: var(--font-size-sous-titre);
  font-weight: 600;
  color: var(--color-sous-titre);
}

.centre {
  text-align: center;
}

.cl-vert {
  font-size: var(--font-size-titre);
  color: var(--color-principal);
  margin-top: 0;
}

.bouton {
  background-color: var(--color-principal);
  padding: 14px 32px;
  border-radius: 4px;
  color: var(--color-white);
}

.col-neutr {
  background-color: var(--color-neutral);
}

.elt h1 {
  margin-bottom: 0px;
}

.elt p {
  margin-bottom: 64px;
}

.largeur-elt-texte {
  width: 661px;
  margin-left: 49px;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--font-size-titre-mobile);
  }

  h2 {
    font-size: var(--font-size-sous-titre-mobile);
  }
}
